.advantages__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include resetter();
  list-style: none;
}