.advantages-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include resetter();
  list-style: none;
}

.advantages-list__item {
  height: 60px;
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
}

.advantages-list__item p {
  @include resetter();
  margin-left: 80px;
}

.advantages-list__item--leaf::before {
  content: "";


  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(/img/advantage-leaf@1x.png);
  background-color: #68b738;
  background-repeat: no-repeat;
}

.advantages-list__item--powder::before {
  content: "";

  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(/img/advantage-powder@1x.png);
  background-color: #68b738;
  background-repeat: no-repeat;
}

.advantages-list__item--dining::before {
  content: "";


  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(/img/advantage-dining@1x.png);
  background-color: #68b738;
  background-repeat: no-repeat;
}

.advantages-list__item--clock::before {
  content: "";

  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(/img/advantage-clock@1x.png);
  background-color: #68b738;
  background-repeat: no-repeat;
}
