.example {
  background-color: $grey;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__title {
  padding-top: 19px;
  @include fonts(36px, 60px);
  font-weight: 700;
  margin-bottom: 0px;
}

.example__text {
  @include fonts(14px, 18px);
  font-family: $second-font;
  font-weight: 400;
  margin-top: 23px;
  margin-bottom: 23px;
}

.example__total {
  @include fonts(14px, 20px);
  font-weight: 700;
  margin-left: 46px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $white;
    border-top: 1px solid $grey--darken;
    position: relative;
  }

  .example__wrapper {
    width: 710px;
    margin: 0 auto;
  }

  .example__title {
    @include fonts(60px, 60px);
    font-weight: 700;
    margin-top: 23px;
    margin-bottom: 65px;
    padding-left: 1px;
  }

  .example__text {
    @include fonts(16px, 24px);
    font-family: $second-font;
    width: 680px;
  }

  .example__total {
    display: inline-block;
    position: absolute;
    @include fonts(20px, 20px);
    font-weight: 700;
    width: 190px;
    text-transform: uppercase;
    text-align: right;
    left: 500px;
    top: 303px;
  }

  .example__total__right {
    position: relative;
    top: 9px;
  }
}

@media (min-width: $desktop-width) {

  .example {
    width: 100%;
    position: relative;
    border-top: none;
    height: 462px;
    background-color: $grey;
  }

  .example__wrapper {
    width: 1020px;
    position: relative;
    left: -100px;
    margin: 0 auto;
    margin-top: 80px;
  }

  .example__title {
    position: relative;
    top: -150px;
  }

  .example__text {
    position: relative;
    top: -70px;
    @include fonts(16px, 24px);
    font-family: $second-font;
    width: 435px;
  }

  .example__total {
    position: relative;
    width: 325px;
    left: -46px;
    top: -30px;
    text-align: left;
  }

  .example__total__right {
    left: 60px;
    top: 1px;
  }
}
