.form-main__global {
  font-size: 16px;
  line-height: 18px;
}

.form-main__title {
  font-size: 24px;
  line-height: 24px;	
}

.form-main__button {
  font-weight: 700;	
  color: $white;
  border: none;
  background-color: $green;
}