.goods-item__link {
  color: $input-icon-color;
  text-decoration: none;
}

.goods-item__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.goods-item__button {
  font-size: 16px;
  line-height: 20px;
  color: $main-menu-text;
}

