.main-nav {
  position: relative;

  width: 320px;
  min-height: 65px;
  margin: 0 auto;

  background-color: #826550;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) { 

}