.page-header {
  display: flex;
}

.page-header__logo {
  width: 226px;
  height: 30px;
  text-align: center;
}

.page-header__logo img {
  width: 226px;
  height: 85px;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) { 

}
