$white: #ffffff;
$black: #000000;
$grey: #f2f2f2;
$grim: #666666;
$green: #68b738;


$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

$default-font: "Oswald", "Arial", sans-serif;
$second-font: "Arial", sans-serif;