$white: #ffffff;
$black: #222222;
$black--dark: #111111;
$black--light: #444444;
$black--lighten: #b7b7b7;
$tomato: #ff8282;
$grey: #f2f2f2;
$grey--dark: #ebebeb;
$grim: #666666;
$grim--light: #e6e6e6;
$grim--lighten: #707070;
$grim--dark: #cdcdcd;
$green: #68b738;
$green--dark: #5eaa2f;
$green--light: #c1ddb1;
$green--lighten: #94c377;

$background-color--white: $white;
$background-color--grey: $grey;
$background-color--green: $green;
$social-icon: $grim;
$input-color: $grim--light;
$input-color--focus: $grim--dark;
$input-color--active: $black--light;
$input-color--error: $tomato;
$input-icon-color: $black;
$input-icon-color--focus: $black;
$input-icon-color--active: $green;
$input-icon-color--error: $tomato;
$green-button-color: $green;
$green-button-color--hover: $green--dark; 
$main-menu-text: $white;
$main-menu-text--hover: $green--light;
$main-menu-text--active: $green--lighten;
$catalog-link: $black--dark;
$catalog-link--active: $black--lighten;
$menu--link: $black--dark;
$menu--link--hover: $grim--lighten;
$menu--link--active: $black--dark;
$grey-button-color: $grey;
$grey-button-color--hover: $grey--dark; 

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$default-font: "Oswald", "Arial", sans-serif;
$second-font: "Arial", sans-serif;